@import "styles/imports";

.opening {
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$header-height});
  justify-content: center;

  .container {
    display: grid;
    grid-template-columns: minmax(16rem, 580px) minmax(0, 1fr) minmax(14rem, 408px);
  }

  .openingText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 2rem;
    margin-right: 1rem;
    line-height: 161.9%;
  }

  .openingImage {
    flex-grow: 1;
    position: relative;
  }
}


.arrowButton {
  display: flex;
  align-items: center;

  .icon {
  }

  p {
    margin-bottom: 0;
    font-size: 1.5rem;
    margin-right: 0.5rem;

  }
}


.superposition {
  position: absolute;
}
