.downloadApp {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
  padding: 16px;
  border: 1px solid #666666;
  border-radius: 2px;
  background-color: #FFFFFF;
  margin-bottom: -24px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.image {
  display: flex;
  align-self: center;
}
