.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text image";
  grid-column-gap: 24px;
  border-radius: 8px;
  overflow: hidden;
  min-height: 375px;
  justify-content: space-between;
  background-color: #f7f7f7;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-areas: "image"
                          "text";
  }
}

.textContainer {
  padding: 4rem;
  margin-bottom: 1.5rem;
  max-width: 528px;
  grid-area: text;

  @media (max-width: 1024px) {
    padding: 32px;
    margin-bottom: 48px;
  }
}

.label {
  margin-top: 0;
  font-size: 2.25rem;
  letter-spacing: -0.05em;
  margin-bottom: 8px;
}

.underline {
  font-size: 0.75rem;
  margin-bottom: 1.5rem;
  margin-top: -0.5rem;
  text-transform: uppercase;
  font-weight: 300;
}


.description {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  line-height: 161.9%;
}

.caseStudy {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;

}

.externalLink {
  margin-left: 8px;
}


.imageContainer {
  position: relative;
  max-width: 528px;
  width: 100%;
  grid-area: image;

  @media (max-width: 768px) {
    max-width: none;
    min-height: 256px;
  }
}
