@import '../styles/imports';

.footer {
  @include container;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px 0;
  border-top: 1px solid #666666;
  font-size: 12px;
  margin-bottom: 48px !important;

  nav {
    margin-left: auto;
  }
}

.list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    color: #666666;
    font-size: 12px;
    text-align: right;

    a {
      color: #666666;
    }
  }
}

