.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  list-style-type: none;

  li {
    &:not(:last-of-type) {
      margin-right: 8px;
    }
  }
}

