@import '../styles/imports';

.header {
  @include container;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
  border-bottom: 1px solid #cccccc;
}

.list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    color: #666666;
    font-size: 14px;
    text-transform: uppercase;

    &:not(:last-of-type) {
      margin-right: 8px;

    }
  }
}

