@import '../styles/imports';

.header {
  max-width: 1368px;
  display: flex;
  margin: 0 auto;

  align-items: center;
  justify-content: space-between;
  height: $header-height;

  @media(max-width: 1416px) {
    margin: 0 24px;
  }
}

.name {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  margin: 0;
  font-size: 1.5rem;
}

.list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    color: #666666;
    font-size: 1rem;
    letter-spacing: -0.05em;
    text-transform: uppercase;

    &:not(:last-of-type) {
      margin-right: 24px;
    }

    a {
      color: #666666;
    }
  }
}

