.container {
    border-radius: 2px;
    border: 1px solid #666666;
    overflow: hidden;
}

.textContainer {
    padding: 16px;
}

.overline {
    margin-top: 0;
    font-size: 12px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.label {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 8px;
}

.description {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}
