@import './imports';

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;

  @media(max-width: 550px) {
    grid-template-columns: 1fr;
  }
}

.main {
  @include container;
}

.openingText {
  display: flex;
  flex-direction: column;
  margin-bottom: 96px;
  margin-top: 24px;

  //min-height: calc(100vh - #{$header-height});
}

.title {
  //font-size: 36px;
}

.underline {
  //font-size: 24px;
}

.opening {
  max-width: 768px;
}

.work {
  font-size: 32px;
}

.contact {
  margin-top: 96px;
}

.chevronDown {
  margin-top: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}