@import './imports';

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;

  @media(max-width: 550px) {
    grid-template-columns: 1fr;
  }
}

.main {
  @include container;
}

.opening {
  display: flex;
  justify-content: space-between;
  margin-bottom: 96px;
  margin-top: 64px;

  .openingText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 552px;
    width: 100%;
    margin-right: 48px;
  }

  .openingImage {

  }

  .title {
    //font-size: 36px;
  }

  .underline {
    //font-size: 24px;
  }

  @media (max-width: 1024px) {
    .openingText {
      max-width: 402px;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    justify-content: flex-start;

    .openingText {
      max-width: 552px;
    }
    .openingImage {
      display: none;
    }
  }
}

.work {
  font-size: 32px;
}

.contact {
  margin-top: 96px;
}

.chevronDown {
  margin-top: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}